:root {
    --main-orange: #EF7215;
    --main-orange-hover: #B1560F;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    color: white;
    margin: 0;
}

.login-container {
    background: #222;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 320px;
    height: 50%;
}

.login-container h2 {
    margin-bottom: 50px;
    color: var(--main-orange);
}

.input-group {
    margin-bottom: 15px;
    text-align: center;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--main-orange);
    border-radius: 5px;
    background: #333;
    color: white;
    text-align: center;
}

.login-btn {
    width: 107%;
    padding: 10px;
    background: var(--main-orange);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.login-btn:hover {
    background: var(--main-orange-hover);
}
