:root {
    --main-orange: #EF7215;
    --main-orange-hover: #B1560F;
    --light-gray: #333;
    --dark-gray: #222;
}
/* 
* {
    background-color: var(--light-gray);
} */

main {
    width: 100%;
}

.login-page {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--light-gray);
    color: white;
    margin: 0;
}

.login-container {
    background: var(--dark-gray);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 320px;
    height: 50%;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    color: var(--main-orange);
}

.input-group {
    margin-bottom: 15px;
    text-align: center;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--main-orange);
    border-radius: 5px;
    background: var(--light-gray);
    color: white;
    text-align: center;
}

.login-btn {
    width: 107%;
    padding: 10px;
    background: var(--main-orange);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.login-btn:hover {
    background: var(--main-orange-hover);
}


/* userpage */

.avatar {
    width: 40px;       /* Set the width of the image */
    height: 40px;      /* Set the height of the image */
    border-radius: 50%; /* Makes the image round */
    object-fit: cover;  /* Ensures the image fits within the container without distorting */
}
  
.user-page {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #333;
    color: white;
    margin: 0;
}


/* homepage */

.homepage {
    font-family: Arial, sans-serif;
    background-color: var(--light-gray);
    margin: 0;
    padding: 0;
    color: white;
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.game-card {
    width: 200px;
    background-color: var(--dark-gray);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.game-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.game-card .title {
    padding: 10px;
    font-weight: bold;
}


/* navbar */

.navbar-div {
    width: 100%;
    height: 50px;
    margin: 0;
    padding-top: 5px;
    background-color: grey;
}

.navbar-button {
    width: 20%;
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    border-radius: 8px;
    text-transform: capitalize;
    background-color: #803e0b;
    transition-duration: 0.3s;
}

.navbar-button:hover {
    background-color: #612f08;
}